@charset "UTF-8";
body {
  font-size: 16px;
  font-family: 'Roboto', 'Noto Sans JP', sans-serif, serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #F8F9FA;
  color: #333;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

.header {
  height: 85px;
  position: fixed;
  z-index: 2;
  width: 100%;
  background-color: #F8F9FA;
  border-bottom: 1px solid #979797;
  margin-bottom: 65px;
}

@media (max-width: 1050px) {
  .header {
    height: 8.1vw;
  }
}

@media (max-width: 768px) {
  .header {
    height: 60px;
    border-bottom: none;
  }
}

.header-wrap {
  height: 85px;
}

@media (max-width: 1050px) {
  .header-wrap {
    height: 8.1vw;
  }
}

@media (max-width: 768px) {
  .header-wrap {
    height: 60px;
  }
}

.header-wrap .flex {
  max-width: 78%;
  width: 1120px;
  margin: 0 auto;
  height: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1050px) {
  .header-wrap .flex {
    height: 8.1vw;
  }
}

@media (max-width: 768px) {
  .header-wrap .flex {
    height: 60px;
  }
}

.header-wrap .logo {
  font-weight: 400;
  font-size: 2rem;
  font-family: 'Crimson Text';
}

@media (max-width: 1050px) {
  .header-wrap .logo {
    font-size: 3.05vw;
  }
}

@media (max-width: 768px) {
  .header-wrap .logo {
    font-size: 1.5rem;
  }
}

.header-wrap .logo a {
  display: inline-block;
}

.header-wrap .ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1050px) {
  .header-wrap .ul {
    display: none;
  }
}

.header-wrap .ul li {
  width: 150px;
  height: 56px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 1px solid #CCCCCC;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header-wrap .ul li:hover {
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header-wrap .ul li:hover::after {
  content: "";
  width: 100%;
  height: 16%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: #FCFF90;
  -webkit-animation: bg_slide 0.4s ease-in;
          animation: bg_slide 0.4s ease-in;
}

.header-wrap .ul li:last-of-type {
  border-right: 1px solid #CCCCCC;
}

@-webkit-keyframes bg_slide {
  0% {
    -webkit-transform-origin: left top;
            transform-origin: left top;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform-origin: left top;
            transform-origin: left top;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes bg_slide {
  0% {
    -webkit-transform-origin: left top;
            transform-origin: left top;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform-origin: left top;
            transform-origin: left top;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

.header-wrap .ul a {
  display: inline-block;
  width: 100%;
  color: #333;
}

.header-wrap .ul ruby {
  font-size: 1rem;
}

.header-wrap rt {
  font-size: 0.875rem;
  margin-bottom: 4px;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  color: #000D65;
}

.header-wrap .hamburger {
  display: none;
}

@media (max-width: 1050px) {
  .header-wrap .hamburger {
    display: block;
    z-index: 10;
    width: 4.7vw;
    height: 4.7vw;
    position: relative;
    position: fixed;
    top: 1.8vw;
    right: 11%;
    cursor: pointer;
    background-color: transparent;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
}

@media (max-width: 768px) {
  .header-wrap .hamburger {
    width: 50px;
    height: 50px;
    top: 6px;
    right: 11%;
  }
}

@media (max-width: 1050px) {
  .header-wrap .hambur-line {
    display: inline-block;
    background-color: black;
    width: 24px;
    height: 2px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    -webkit-transition: inherit;
    transition: inherit;
  }
  .header-wrap .hambur-line::before,
  .header-wrap .hambur-line::after {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: black;
    -webkit-transition: inherit;
    transition: inherit;
    content: "";
  }
  .header-wrap .hambur-line::before {
    top: -10px;
  }
  .header-wrap .hambur-line::after {
    top: 10px;
  }
}

.header-wrap .sp-global-menu {
  display: none;
}

@media (max-width: 1050px) {
  .header-wrap .sp-global-menu {
    display: block;
    position: fixed;
    z-index: 4;
    width: 100vw;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    height: 100vh;
    background-color: white;
    color: #fff;
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}

.header-wrap .sp-global-menu .hamburger-nav {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header-wrap .sp-global-menu .hamburger-ul {
  text-align: center;
}

.header-wrap .sp-global-menu .hamburger-ul li {
  margin-bottom: 36px;
}

.header-wrap .sp-global-menu .hamburger-ul li:last-of-type {
  margin-bottom: 0;
}

@media (max-width: 1050px) {
  .header-wrap .sp-global-menu .hamburger-ul ruby {
    font-size: calc(16px + 10 * (100vw - 769px)/281);
  }
}

@media (max-width: 768px) {
  .header-wrap .sp-global-menu .hamburger-ul ruby {
    font-size: 1rem;
  }
}

@media (max-width: 1050px) {
  .header-wrap .sp-global-menu .hamburger-ul rt {
    font-size: calc(14px + 10 * (100vw - 769px)/281);
  }
}

@media (max-width: 768px) {
  .header-wrap .sp-global-menu .hamburger-ul rt {
    font-size: 0.875rem;
  }
}

.is-drawerActive .hambur-line {
  background-color: transparent;
}

.is-drawerActive .hambur-line::before, .is-drawerActive .hambur-line::after {
  top: 0px;
}

.is-drawerActive .hambur-line::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.is-drawerActive .hambur-line::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.is-drawerActive .sp-global-menu {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.homeTop {
  border-bottom: 1px solid #979797;
  padding-top: 85px;
}

@media (max-width: 1050px) {
  .homeTop {
    padding-top: 8.1vw;
  }
}

@media (max-width: 768px) {
  .homeTop {
    border-bottom: none;
    padding-top: 60px;
  }
}

.homeTop-wrap {
  margin-left: 18.6%;
  height: 694px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1050px) {
  .homeTop-wrap {
    height: 66.1vw;
    margin-left: 11%;
  }
}

@media (max-width: 768px) {
  .homeTop-wrap {
    height: 468px;
    margin-left: 0;
    display: block;
    position: relative;
  }
}

.homeTop .text {
  margin-right: 10%;
  opacity: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.homeTop .text.load {
  opacity: 1;
}

.homeTop .text.is-drawerActive {
  opacity: 0;
}

@media (max-width: 768px) {
  .homeTop .text {
    z-index: 1;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 104px;
    margin-left: 10%;
  }
}

.homeTop .text h1 {
  font-size: 4rem;
}

@media (max-width: 1050px) {
  .homeTop .text h1 {
    font-size: 4.8vw;
  }
}

@media (max-width: 768px) {
  .homeTop .text h1 {
    font-size: 2.25rem;
  }
}

.homeTop .text p {
  font-size: 1.5rem;
}

@media (max-width: 1050px) {
  .homeTop .text p {
    font-size: 3vw;
    white-space: nowrap;
  }
}

@media (max-width: 768px) {
  .homeTop .text p {
    font-size: 1rem;
  }
}

.homeTop .img {
  background-image: url(../image/contactIMG.png);
  background-size: auto;
  background-position: top left;
  background-repeat: no-repeat;
  height: 694px;
  width: 100%;
}

@media (max-width: 1050px) {
  .homeTop .img {
    height: 66.1vw;
    background-position: bottom right;
  }
}

@media (max-width: 768px) {
  .homeTop .img {
    height: 468px;
    background-position: bottom left -200px;
    position: absolute;
    background-size: cover;
  }
}

.contact-wrap {
  max-width: 48%;
  width: 700px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .contact-wrap {
    max-width: 70%;
    width: 100%;
  }
}

.contact .title {
  font-size: 2.25rem;
  margin-top: 88px;
  text-align: center;
  margin-bottom: 36px;
  color: #000D65;
}

@media (max-width: 1050px) {
  .contact .title {
    font-size: calc(20px + 16 * (100vw - 769px)/281);
    margin-top: 8.36vw;
    margin-bottom: 3.4vw;
  }
}

@media (max-width: 768px) {
  .contact .title {
    font-size: 1.25rem;
    margin-top: 72px;
    margin-bottom: 32px;
  }
}

.contact .teltitle {
  font-size: 1.5rem;
  margin-bottom: 12px;
  text-align: center;
}

@media (max-width: 1050px) {
  .contact .teltitle {
    font-size: calc(16px + 8 * (100vw - 769px)/281);
  }
}

@media (max-width: 768px) {
  .contact .teltitle {
    font-size: 1rem;
    margin-bottom: 4px;
  }
}

.contact .telNumber {
  font-size: 3rem;
  text-align: center;
}

@media (max-width: 1050px) {
  .contact .telNumber {
    font-size: calc(24px + 24 * (100vw - 769px)/281);
  }
}

@media (max-width: 768px) {
  .contact .telNumber {
    font-size: 1.5rem;
  }
}

.contact .time {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 24px;
}

@media (max-width: 1050px) {
  .contact .time {
    font-size: calc(16px + 8 * (100vw - 769px)/281);
    margin-bottom: 2.32vw;
  }
}

@media (max-width: 768px) {
  .contact .time {
    font-size: 1rem;
  }
}

.contact .info {
  font-size: 1.5rem;
  margin-bottom: 36px;
}

@media (max-width: 1050px) {
  .contact .info {
    font-size: calc(16px + 8 * (100vw - 769px)/281);
    margin-bottom: 3.4vw;
  }
}

@media (max-width: 768px) {
  .contact .info {
    font-size: 1rem;
    margin-bottom: 24px;
  }
}

.kanryo {
  text-align: center;
  color: #333;
  margin-bottom: 36px;
  font-size: 32px;
}

@media (max-width: 1050px) {
  .kanryo {
    font-size: calc(14px + 10 * (100vw - 769px)/281);
  }
}

@media (max-width: 768px) {
  .kanryo {
    font-size: 0.875rem;
  }
}

.form-wrap {
  max-width: 48%;
  width: 700px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .form-wrap {
    max-width: 70%;
    width: 100%;
  }
}

.form-wrap dl {
  margin-bottom: 16px;
}

.form-wrap dt {
  margin-bottom: 12px;
}

@media (max-width: 768px) {
  .form-wrap dt {
    margin-bottom: 8px;
  }
}

.form-wrap .entry {
  font-size: 1.5rem;
}

@media (max-width: 1050px) {
  .form-wrap .entry {
    font-size: calc(14px + 10 * (100vw - 769px)/281);
  }
}

@media (max-width: 768px) {
  .form-wrap .entry {
    font-size: 0.875rem;
  }
}

@media (max-width: 768px) {
  .form-wrap .dd-name {
    margin-right: 0;
    margin-bottom: 8px;
  }
}

.form-wrap .yokoPc {
  width: 100%;
}

@media (max-width: 768px) {
  .form-wrap .yokoPc {
    width: 100%;
  }
}

.form-wrap input {
  border: 1px solid #cdcdcd;
  width: 100%;
  height: 64px;
  padding: 8px 0 8px 12px;
  font-size: 1rem;
  border-radius: 4px;
}

@media (max-width: 1050px) {
  .form-wrap input {
    font-size: calc(14px + 2 * (100vw - 769px)/281);
  }
}

@media (max-width: 768px) {
  .form-wrap input {
    font-size: 0.875rem;
    height: 40px;
  }
}

.form-wrap input[type="checkbox"] {
  width: 20px;
  height: auto;
}

.form-wrap textarea {
  border: 1px solid #cdcdcd;
  width: 100%;
  height: 130px;
  border-radius: 4px;
  padding: 10px;
}

.form-wrap .hissu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-wrap .hissu::after {
  content: "必須";
  color: #ff0000;
  margin-left: 8px;
  font-size: 0.875rem;
}

.form-wrap .privacy-po {
  overflow-y: scroll;
  width: 100%;
  height: 300px;
  border: 1px solid #cdcdcd;
  padding: 24px 20px;
  padding-top: 8px;
  margin-bottom: 16px;
}

.form-wrap .privacy-po li {
  list-style: none;
}

.form-wrap .privacy-po .privacyList {
  margin-top: 24px;
}

.form-wrap .privacy-po .privacyInfo {
  margin-left: 24px;
}

@media (max-width: 768px) {
  .form-wrap .privacy-po .privacyInfo {
    margin-left: 16px;
  }
}

.form-wrap .privacy-po h1 {
  font-size: 1.125rem;
  margin-bottom: 8px;
}

@media (max-width: 1050px) {
  .form-wrap .privacy-po h1 {
    font-size: calc(16px + 2 * (100vw - 769px)/281);
  }
}

.form-wrap .privacy-po h2 {
  margin-bottom: 8px;
  font-size: 1.125rem;
}

@media (max-width: 1050px) {
  .form-wrap .privacy-po h2 {
    font-size: calc(16px + 2 * (100vw - 769px)/281);
  }
}

.form-wrap .privacy-po p,
.form-wrap .privacy-po li {
  font-size: 1rem;
}

@media (max-width: 1050px) {
  .form-wrap .privacy-po p,
  .form-wrap .privacy-po li {
    font-size: calc(14px + 2 * (100vw - 769px)/281);
  }
}

@media (max-width: 768px) {
  .form-wrap .privacy-po p,
  .form-wrap .privacy-po li {
    font-size: 0.875rem;
  }
}

@media (max-width: 1050px) {
  .form-wrap .privacy {
    font-size: calc(14px + 2 * (100vw - 769px)/281);
  }
}

@media (max-width: 768px) {
  .form-wrap .privacy {
    font-size: 0.875rem;
  }
}

.form-wrap .formButton {
  margin-top: 48px;
  margin-bottom: 36px;
  text-align: center;
}

@media (max-width: 1050px) {
  .form-wrap .formButton {
    margin-top: 4.58vw;
    margin-bottom: 3.43vw;
  }
}

.form-wrap .formButton .submit {
  text-align: center;
  display: inline-block;
  width: 200px;
  height: 64px;
  line-height: 64px;
  background-color: #000D65;
  color: #fff;
  border-radius: 4px;
  font-size: 1.5rem;
  background-color: #000D65;
  cursor: pointer;
}

@media (max-width: 1050px) {
  .form-wrap .formButton .submit {
    width: 19vw;
    height: 6.1vw;
    line-height: 6.1vw;
    font-size: calc(16px + 8 * (100vw - 769px)/281);
  }
}

@media (max-width: 768px) {
  .form-wrap .formButton .submit {
    width: 137px;
    height: 46px;
    line-height: 46px;
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .form-wrap .formButton button[name="submitBack"] {
    margin-bottom: 8px;
  }
}

.footer {
  background-color: #000D65;
  color: #fff;
  text-align: center;
}

@media (max-width: 768px) {
  .footer-wrap {
    max-width: 80%;
    margin: 0 auto;
  }
}

.footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 72px;
  padding-bottom: 48px;
}

@media (max-width: 1050px) {
  .footer ul {
    padding-top: 6.9vw;
    padding-bottom: 4.6vw;
  }
}

@media (max-width: 768px) {
  .footer ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 36px;
    padding-bottom: 56px;
  }
}

.footer a {
  color: #fff;
  margin-right: 24px;
  font-size: 1.125rem;
  display: inline-block;
}

.footer a:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-text-decoration-color: #fff;
          text-decoration-color: #fff;
}

.footer .lastA {
  margin-right: 0;
}

.footer .flex-t {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .footer .flex-t {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 24px;
  }
  .footer .flex-t .firstA {
    margin-right: 72px;
  }
  .footer .flex-t .secondA {
    margin-right: 0;
  }
}

.footer .flex-b {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .footer .flex-b {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .flex-b .threeA,
  .footer .flex-b .fourA {
    margin-right: 32px;
  }
}

.footer small {
  display: inline-block;
  margin-bottom: 12px;
  font-size: 0.75rem;
}
/*# sourceMappingURL=contact.css.map */