@import 'module';

.footer {
  background-color: $main-Navy;
  color: $white-color2;
  text-align: center;

  &-wrap {
    @include media768{

      @include wrapSp;
    }
  }

  ul {
    display: flex;
    justify-content: center;
    padding-top: 72px;
    padding-bottom: 48px;
    @include media1050 {
      padding-top: 6.9vw;
      padding-bottom: 4.6vw;
    }

    @include media768 {
      flex-direction: column;
      padding-top: 36px;
      padding-bottom: 56px;

    }
  }
  a {
    color: $white-color2;
    margin-right: 24px;
    font-size: (18rem/16);
    display: inline-block;
    &:hover {
       text-decoration-line: underline;
       text-decoration-color: #fff;
    }
  }
  .lastA {
    margin-right: 0;
  }

  .flex-t {
    display: flex;
    @include media768 {
      justify-content: center;
      margin-bottom: 24px;

      .firstA{
        margin-right: 72px;
      }
      .secondA{
        margin-right: 0;
      }
    }
  }

  .flex-b {
    display: flex;
    @include media768 {
      justify-content: center;
      .threeA,
      .fourA{
        margin-right: 32px;
      }
    }

  }



  small {
    display: inline-block;
    margin-bottom: 12px;
    font-size: (12rem/16);
  }

}
